@charset "utf-8";

/* 基準値の指定 */
:root {
    font-size: 15px;
}

body {
    font-family: sans-serif;
    background-image: url(../images/background_main.png);
}

a {
    color: #257a01;
    text-decoration: none;
}

a img {
    border: none;
}

a:hover {
    color: #000;
    text-decoration: underline;
}

p {
    text-align: justify;
}

/* Header */
.Header {
    display: block;
    background-image: url(../images/background_header.png);
    padding: 1.5rem 2rem;
}

.Header a {
    color: #444;
}

.Header a:hover {
    color: #45c80d;
}

.Header_Logo {
    line-height: 1;
    margin-bottom: 1rem;
}

/* ナビゲーションメニューのスタイル */
.Header_NavGroup {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    list-style-type: none;
    list-style-position: outside;
    justify-content: center;
}

.Header_NavItems {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    list-style-type: none;
    list-style-position: outside;
    width: 85vw;
    margin: 0;
    padding: 0;
}

.Header_NavItem {
    margin: 0 1rem 0 0;
    flex: 1;
    flex-basis: 100px;
    text-transform: uppercase;
}

.Header_NavItem:last-child {
    margin-right: 0;
}

@media all and (min-width: 600px) {

    /* 600px以上でFlexboxを有効にしてレイアウトを切り替える */
    .Header {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
    }

    .Header_Logo {
        margin: 0;
    }

    /* 600px以上のナビゲーションメニューのスタイル */
    .Header_NavGroup {
        flex-wrap: nowrap;
    }
    
    .Header_NavItems {
        width: auto;
        margin: 0 3rem 0 0;
    }
    
    .Header_NavItem {
        margin: 0 3rem 0 0;
    }
}

/* Footer */
.Footer {
    display: block;
    background-color: #f4f4f4;
    color: #444;
    padding: 3rem 2rem 3rem;
    margin-top: 2rem;
}

.Footer a {
    color: #444;
}

.Footer a:hover {
    color: #45c80d;
}

.Footer_NavItems {
    list-style-type: none;
    list-style-position: inside;
    margin: 0 0 2rem;
    padding: 0;
    text-align: left;
}

.Footer_NavItem {
    margin: 0;
    line-height: 1.5;
    font-size: 0.9rem;
}

.Footer_Club {
    line-height: 1;
    margin: 0 0 1rem 0;
}

.Footer_Club dt {
    line-height: 1;
    margin: 0 0 0.5rem 0;
    font-size: 1.1rem;
}

.Footer_Club dt > ul {
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    margin-left: -2.5rem;
}

.Footer_Club dd {
    line-height: 1.2;
    margin: 0;
    padding: 0;
}

.Footer_Social {
    display: flex;
    list-style-type: none;
    list-style-position: outside;
    margin: 0;
    padding: 0;
    font-size: 1.5rem;
}

.Footer_SocialItem {
    margin: 0 0.5rem 0 0;
}

@media all and (min-width: 600px) {

    /* 600px以上でFlexboxを有効にしてレイアウトを切り替える */
    .Footer {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: flex-start;
    }

    .Footer_NavItems {
        text-align: right;
    }
}

/* Main Content Base */
.Content {
}

/* 横幅一杯のブロックのスタイル */
.Content_Box-FullWidth {
    display: block;
    margin-bottom: 2rem;
}

/* 余白ありのブロックのスタイル */
.Content_Box-Padding {
    display: block;
    padding: 2rem;
}

/* シングルカラムの横幅指定 */
.Content_Box-Single {
    width: 100%;
}

.Content_Box-Single p {
    text-align: justify;
}

.Content_Heading {
    color: #555;
    font-family: serif;
    font-size: 1.6rem;
    font-weight: 400;
    text-align: center;
    margin: 3rem 0;
}

.Content_Paragraph-Large {
    font-family: serif;
    font-size: 1.1rem;
    font-weight: 300;
    line-height: 1.4;
    color: #555;
}

.Content_Img-Full {
    width: 100%;
}

@media all and (min-width: 600px) {
    .Content_Box-Padding {
        display: flex;
        justify-content: center;
    }

    /* 600px以上ではシングルカラムの横幅を60%に上書きして適用 */
    .Content_Box-Single {
        width: 60%;
    }

    .Content_Box-FlexWrap {
        display: flex;
        flex-wrap: wrap;
    }

    .Content_Heading {
        font-size: 1.8rem;
    }

    .Content_Paragraph-Large {
        font-size: 1.2rem;
        line-height: 1.6;
    }

    .Content_Img-Full {
        width: 100%;
        
    }
}

/* Main Home Main */

/* トップのメインイメージのブロックのテキストの配置はFlexboxで調整する */
.Content_Main {
    display: flex;
    align-items: center;
    width: 100%;
    height: 400px;
    background-color: #fff;
    background-image: url('../images/Content-Main.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 2rem;
}

.Main_Text {
    color: #fff;
}

.Main_Heading {
    font-size: 1.8rem;
    font-weight: 400;
    line-height: 1.2;
    margin: 0 0 0.3rem;
}

.Main_Tagline {
    font-size: 0.75rem;
    margin-bottom: 0;
}

@media all and (min-width: 600px) {

    /* 600px以上のメインイメージのブロックの高さや写真の配置位置を上書き */
    .Content_Main {
        width: 100%;
        height: 520px;
        background-position: center 40%;
    }
    
    .Main_Text {
        padding-left: 2rem;
        color: #fff;
    }

    .Main_Heading {
        font-size: 2.2rem;
        font-weight: 400;
        line-height: 1.2;
    }

    .Main_Tagline {
        font-size: 0.9rem;
    }
}


/* Home Main Column */

.Content_HomeColumn {
    display: block;
    margin-bottom: 5rem;
}

.Column_Text {
    width: 100%;
}

.Column_Heading-Small {
    color: #000;
    font-size: 0.85rem;
    line-height: 1.2;
    border-bottom: 1px solid #000;
    margin-bottom: 3rem;
    padding-bottom: 0.3rem;
}

.Column_Heading-Normal {
    color: #444;
    font-family: serif;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 3rem;
}

.Column_Paragraph {
    margin: 0 0 2rem 0;
}

.Column_Image {
    width: 100%;
    margin: 0 0 2rem 0;
}

.Content_Image-Fluid {
    width: 100%;
    max-width: 100%;
}

.Column_ImageCaption {
    color: #555;
    font-size: 0.8rem;
    margin: 0.5rem 0;
}

@media all and (min-width: 600px) {

    /* トップページのコラム部分のレイアウト指定もFlexboxで上書き */
    .Content_HomeColumn {
        display: flex;
        flex-wrap: nowrap;
        flex: 0 0 auto;
        align-items: center;
        margin-bottom: 1rem;
        width: 85%;
    }

    /* コラム部分の写真とテキストのブロックの入れ替えはflex-directionで視覚的な位置を逆に */
    .Content_Column-Reverse {
        flex-direction: row-reverse;
    }

    .Column_Text {
        flex-basis: 60%;
        padding: 3%;
    }

    .Column_Image {
        flex-basis: 40%;
        padding: 3%;
    }

    .Column_Heading-Small {
        font-size: 0.9rem;
    }

    .Column_Heading-Normal {
        font-size: 1.5rem;
    }
}

/* Event Column */
.Content_EventColumn {
    display: block;
    margin-bottom: 3rem;
}

.Event_Text {
    width: 100%;
}

.Event_Heading-Small {
    color: #000;
    font-size: 0.85rem;
    line-height: 1.2;
    border-bottom: 1px solid #000;
    margin-bottom: 1.5rem;
    padding-bottom: 0.3rem;
}

.Event_Heading-Normal {
    color: #444;
    font-family: serif;
    font-size: 1.3rem;
    font-weight: 400;
    line-height: 1.2;
    margin-bottom: 3rem;
}

.Event_Paragraph {
    
}

.Event_Info {
    margin: 0 0 3rem 2rem;
}

.Event_Image {
    width: 100%;
    margin: 0 0 1rem 0;
}

.Event_Image-Fluid {
    width: 100%;
    max-width: 100%;
}

@media all and (min-width: 600px) {
    .Content_EventColumn {
        display: flex;
        flex-wrap: nowrap;
        flex: 0 0 auto;
        align-items: flex-start;
        width: 85%;
    }

    .Content_EventColumn-Reverse {
        flex-direction: row-reverse;
    }

    .Event_Text {
        flex-basis: 75%;
        padding: 3%;
    }

    .Event_Image {
        flex-basis: 25%;
        padding: 3%;
    }

    .Event_Heading-Small {
        font-size: 0.9rem;
    }

    .Event_Heading-Normal {
        font-size: 1.2rem;
    }
}

/*For Indent*/
.Indent {
    text-indent: 1rem;
    margin-bottom: 5rem;
}

/*Calendar*/
.Calendar {
    ;
    width: 80vw;
    height: 500px;
}

@media all and (min-width: 600px) {
    .Calendar {
        width: 55vw;
        height: 500px;
    }
}

.Twitter {
    width: 100%;
    max-width: 100%;
}