<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta property="og.image" content="../image/Header_Logo.svg">
    <title>稽古風景|北大居合道部 新歓特設ページ</title>
    <link rel="shortcut icon" href="../images/logo.ico">
    <link rel="apple-touch-icon-precomposed" href="../images/apple-touch-icon-precomposed.png">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.9/css/all.css" integrity="sha384-5SOiIsAziJl6AWe0HWRKTXlfcSHKmYV4RBF18PPJ173Kzn7jzMyFuTtk8JA7QQG1" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/reboot.css">
    <link rel="stylesheet" href="../css/styles.css">
</head>

<body>

    <!-- Header -->
    <header class="Header">
        <div class="Header_Logo">
            <a href="../" title="ホームへ"><img src="../images/Header_Logo.svg" alt="居合道部ロゴ" width="250"></a>
        </div>
        <nav class="Header_Nav">
            <ul class="Header_NavGroup">
                <li>
                    <ul class="Header_NavItems">
                        <li class="Header_NavItem"><a href="../" title="ホーム">Home</a></li>
                        <li class="Header_NavItem"><a href="../event/" title="イベント情報">Event</a></li>
                        <li class="Header_NavItem"><a href="../about/" title="居合道部について">About</a></li>
                    </ul>
                <li>
                <li>
                    <ul class="Header_NavItems">
                        <li class="Header_NavItem"><a href="../comment/" title="部員より">Comment</a></li>
                        <li class="Header_NavItem"><a href="../view/" title="稽古風景">View</a></li>
                        <li class="Header_NavItem"><a href="../link/" title="リンク">Link</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>

    <!-- Main Content -->
    <main class="Content" id="content">
        <div class="Content_Box-Padding">
            <div class="Content_Box-Single">
                <h1 class="Content_Heading">稽古風景</h1>
                <img src="../images/view2018_1.jpg" alt="稽古風景その１" class="Content_Img-Full">
                <img src="../images/view2018_2.jpg" alt="稽古風景その２" class="Content_Img-Full">
                <img src="../images/view2018_3.jpg" alt="稽古風景その３" class="Content_Img-Full">
                <img src="../images/view2018_4.jpg" alt="稽古風景その４" class="Content_Img-Full">
            </div>
        </div>
    </main>

    <!-- Footer -->
    <footer class="Footer">
        <div class="Footer_Nav">
            <ul class="Footer_NavItems">
                <li class="Footer_NavItem"><a href="../../" title="北海道大学居合道部 公式サイト">公式ホームページ</a></li>
            </ul>
        </div>
        <div class="Footer_Info">
            <dl class="Footer_Club">
                <dt><ul><li>北海道大学</li><li>無双直伝英信流居合道部</li></ul></dt>
                <dd>新歓隊長:千石海斗 <a href="mailto:patori55@icloud.com" title="メールでのお問い合わせ">patori55@icloud.com</a></dd>
                <dd>新歓副隊長:水野満里奈 <a href="mailto:iaidoubu.mizuno@gmail.com" title="メールでのお問い合わせ">iaidoubu.mizuno@gmail.com</a></dd>
            </dl>
            <ul class="Footer_Social">
                <li class="Footer_SocialItem"><a href="https://twitter.com/iaidou2019"><i aria-hidden title="Twitter" class="fab fa-twitter-square"></i><span class="sr-only">Twitter</span></a></li>
            </ul>
        </div>
    </footer>

</body></html>